<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Profissões de Informática</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card class="card-info">
      <ion-card-header>
        <ion-card-subtitle>Tema Específico</ion-card-subtitle>
        <ion-card-title>Einstein e a Tecnologia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        As profissões que envolvem a informática
      </ion-card-content>
    </ion-card>
  
    <ion-list no-padding>
  
      <ion-item-sliding>
  
        <ion-item button detail="false">
          <ion-label>
            <h2>Letícia</h2>
            <p>08:00 - 08:45</p>
          </ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
  
        <ion-item button detail="false">
          <ion-label>
            <h2>Sofia Colaço</h2>
            <p>08:00 - 08:45</p>
          </ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
  
        <ion-item button detail="false">
          <ion-label>
            <h2>Benício</h2>
            <p>08:00 - 08:45</p>
          </ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
  
      </ion-item-sliding>
    </ion-list>
  
  </ion-content>