<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Pular</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">
      <ion-slide>
        <img src="assets/img/einstein-cientista-color.png" class="slide-image" />
        <h2 class="slide-title">
          Bem-vindo ao FB Ciensibilize
        </h2>
        <p>Eu sou Albert Einstein. Está pronto para participar dessa jornada de descobertas?</p>
        <ion-button fill="clear" (click)="slideNext()" [hidden]="!isDesktop">
          Próximo
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/einstein-relatividade.png" class="slide-image" />
        <h2 class="slide-title">Teoria da Relatividade</h2>
        <p>
          <b>100 Anos de Uma Ideia que Mudou o Mundo.</b> Como passa rápido! E o Ceará foi fundamental nessa descoberta.
        </p>
        <p><b> Vamos saber mais?</b></p>
        <ion-button fill="clear" (click)="slideNext()" [hidden]="!isDesktop">
          Próximo
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/slide-ionic.png" class="slide-image" />
        <h2 class="slide-title">Avanço Tecnológico</h2>
        <p>
          Desde então, muitas tecnologias surgiram. <b>Computador, GPS e Celular.</b></p>
        <p><b> Quem nunca usou um desses?</b></p>
        <ion-button fill="clear" (click)="slideNext()" [hidden]="!isDesktop">
          Próximo
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/turminha-com-brinquedos.jpg" class="slide-image" />
        <h2 class="slide-title">Pronto para continuar?</h2>
        <p>Nossa turminha está pronta para apresentar todas essas descobertas.</p>
        <ion-button fill="clear" (click)="startApp()">
          Continuar
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>