<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      1o Ano - Turma I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="8" size="12" no-padding>
        <ion-card class="card-info">
          <ion-card-header>
            <ion-card-subtitle>Início</ion-card-subtitle>
            <ion-card-title>Projeto Ciensibilize</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Seja Bem-Vindo!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>